[user]
    name = SeungMin Yoo
    email = usm0507@likelion.org
[core]
    editor = nano
    whitespace = off
    excludesfile = ~/.gitignore
[advice]
    statusuoption = false
[color]
    ui = true
[push]
    default = current